<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malaga parking lots</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Reference to your external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <header>
        <div>
            <h1>Málaga parking lots: Live usage</h1>
        </div>
    </header>

    <div id="map"></div>

    <table id="parking-table">
        <tr>
            <th>Name</th>
            <th>Available Spots</th>
            <th>Status</th>
        </tr>
        <!-- Table rows will be inserted here by the JS script -->
    </table>

    <!-- Reference to Leaflet JavaScript for the map -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Reference to your external JavaScript file -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>